@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>HelloWorldTagHelper demo</h2>
<hello-world></hello-world>
<h2>ExchangeRateRowTagHelper demo</h2>
<exchange-rate-table include-time-stamp="true">
    <tr source="JPY" target="VND"></tr>
</exchange-rate-table>
<h2>AllExchangeRateRowsTagHelper demo</h2>
<exchange-rate-table include-time-stamp="true">
    <all-exchange-rates target="JPY"></all-exchange-rates>
</exchange-rate-table>
<h2>HttpContextTagHelper demo</h2>
<http-context></http-context>